.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__hYrBp {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__iQw99 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: #f8f9fd;
}
.freeBox__iQw99 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iQw99 > :global(.__wab_flex-container) > *,
.freeBox__iQw99 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__yfLnw {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__ix1Nv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox___6L7So {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: p_thyjkJkq_So5 */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox___1BOx6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___1BOx6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox___1BOx6 > :global(.__wab_flex-container) > *,
.freeBox___1BOx6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1BOx6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1BOx6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1BOx6 > :global(.__wab_flex-container) > *,
  .freeBox___1BOx6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.productCard__kez8L:global(.__wab_instance) {
  position: relative;
}
.img___960Ej {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings___7X2Aw:global(.__wab_instance) {
  position: relative;
}
.productCard__jJL:global(.__wab_instance) {
  position: relative;
}
.img___1TW0J {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings___7HfOa:global(.__wab_instance) {
  position: relative;
}
.productCard__cwSrF:global(.__wab_instance) {
  position: relative;
}
.img__gQGoO {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings__gZ4W:global(.__wab_instance) {
  position: relative;
}
.productCard__f82W9:global(.__wab_instance) {
  position: relative;
}
.img__hfjb7 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings__afigf:global(.__wab_instance) {
  position: relative;
}
.freeBox___0YmYd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox___0YmYd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox___0YmYd > :global(.__wab_flex-container) > *,
.freeBox___0YmYd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YmYd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YmYd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YmYd > :global(.__wab_flex-container) > *,
  .freeBox___0YmYd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.productCard__tBvQf:global(.__wab_instance) {
  position: relative;
}
.img__shfb2 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings__kqWwH:global(.__wab_instance) {
  position: relative;
}
.productCard__aW43:global(.__wab_instance) {
  position: relative;
}
.img__qzzOu {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings__apGn8:global(.__wab_instance) {
  position: relative;
}
.productCard__tc64O:global(.__wab_instance) {
  position: relative;
}
.img___3Ac7M {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings___8Mzqz:global(.__wab_instance) {
  position: relative;
}
.productCard__hIa4V:global(.__wab_instance) {
  position: relative;
}
.img__ymMqa {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.ratings__b9Qqs:global(.__wab_instance) {
  position: relative;
}
.freeBox__oktqa {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__tU8P9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__u0W9L {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: p_thyjkJkq_So5 */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__dYcPb {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__dYcPb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.freeBox__dYcPb > :global(.__wab_flex-container) > *,
.freeBox__dYcPb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dYcPb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dYcPb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dYcPb > :global(.__wab_flex-container) > *,
  .freeBox__dYcPb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.productCard__fwhXj:global(.__wab_instance) {
  position: relative;
}
.freeBox___9WenF {
  height: auto;
}
.freeBox__lqZbs {
  height: auto;
}
.img__beNCd {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ratings__vZuR:global(.__wab_instance) {
  position: relative;
}
.productCard___52NJa:global(.__wab_instance) {
  position: relative;
}
.img__slfls {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ratings__lyAeN:global(.__wab_instance) {
  position: relative;
}
.productCard__gUbr:global(.__wab_instance) {
  position: relative;
}
.img___98XKc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ratings__efjmP:global(.__wab_instance) {
  position: relative;
}
.productCard___6TPx6:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard___6TPx6:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__piX4U {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ratings__tii73:global(.__wab_instance) {
  position: relative;
}
.freeBox___6Z6T1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__aeLp {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: p_thyjkJkq_So5 */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__y8Nf {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__y8Nf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__y8Nf > :global(.__wab_flex-container) > *,
.freeBox__y8Nf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y8Nf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y8Nf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y8Nf > :global(.__wab_flex-container) > *,
  .freeBox__y8Nf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.blogPost__hniTt:global(.__wab_instance) {
  position: relative;
}
.img__jGyA {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.blogPost__irvEt:global(.__wab_instance) {
  position: relative;
}
.img__bgOHm {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.blogPost__jpaus:global(.__wab_instance) {
  position: relative;
}
.img___3JQf {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__nrVJp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: #f8f9fd;
  padding: 48px;
}
.freeBox__nrVJp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__nrVJp > :global(.__wab_flex-container) > *,
.freeBox__nrVJp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
.img___0PveH {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img___3KGRb {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__dUl8 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__mmPya {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__s2U6P {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
