.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__fQGpN {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__fQGpN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__fQGpN > :global(.__wab_flex-container) > *,
.freeBox__fQGpN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fQGpN {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fQGpN > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fQGpN > :global(.__wab_flex-container) > *,
  .freeBox__fQGpN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox___8Ij0Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___8Ij0Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___8Ij0Z > :global(.__wab_flex-container) > *,
.freeBox___8Ij0Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox__vG2U {
  position: relative;
  font-weight: 700;
}
.freeBox___6Pauc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___6Pauc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6Pauc > :global(.__wab_flex-container) > *,
.freeBox___6Pauc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__cNZxK {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__cNZxK:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__rbIz2 {
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__rbIz2:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__ng2U {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ng2U:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__s89X7 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__s89X7:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.freeBox__wd8Qt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__wd8Qt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wd8Qt > :global(.__wab_flex-container) > *,
.freeBox__wd8Qt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox__kuNZk {
  position: relative;
  font-weight: 700;
}
.freeBox___9CQAv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___9CQAv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9CQAv > :global(.__wab_flex-container) > *,
.freeBox___9CQAv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__p0392 {
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__p0392:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__dOiN3 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dOiN3:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__t8S8N {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__t8S8N:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link___1JfwE {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link___1JfwE:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__j2CLb {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__j2CLb:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.freeBox__fiQo9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__fiQo9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__fiQo9 > :global(.__wab_flex-container) > *,
.freeBox__fiQo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox__rydFh {
  position: relative;
  font-weight: 700;
}
.freeBox__xbnw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xbnw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xbnw > :global(.__wab_flex-container) > *,
.freeBox__xbnw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__dcodj {
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dcodj:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__lEShz {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__lEShz:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__a5J1 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__a5J1:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__acE9R {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__acE9R:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.link__nn3TX {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__nn3TX:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  padding-left: 10px;
}
.freeBox__lVnm9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lVnm9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lVnm9 > :global(.__wab_flex-container) > *,
.freeBox__lVnm9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox__vt8Gl {
  position: relative;
  font-weight: 700;
}
.freeBox__hIsWx {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: DlH_G_6c4bP0EB */;
}
.freeBox___7AmtC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox___7AmtC:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: DlH_G_6c4bP0EB */;
}
.textbox {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg___2BccS {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__sb1Rx {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: #f8f9fd;
  padding: 32px 16px;
}
.freeBox__sb1Rx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sb1Rx > :global(.__wab_flex-container) > *,
.freeBox__sb1Rx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__ud5BZ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ud5BZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ud5BZ > :global(.__wab_flex-container) > *,
.freeBox__ud5BZ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink___5Ytv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bimP8 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__bimP8:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
}
.iconLink__nlRop:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ccYn4 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__ccYn4:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
}
.iconLink__qUIdu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__za8ZH {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__za8ZH:hover {
  color: rgb(233, 156, 46) /* plasmic-token: MwL-ki1Jc3tuU1 */;
}
.freeBox__nuTlN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuTlN {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__gd9Lt {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__p6Lmm {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__p6Lmm:hover {
  text-decoration-line: underline;
}
.link__o75Wr {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__o75Wr:hover {
  text-decoration-line: underline;
}
